*{
  padding: 0px;
  margin: 0px;
}

body{
  width: 50%;
  margin: auto;
}

/* div {
  border: 1px solid black;
} */

hr {
  margin-top: 1%;
width: 40%
}

label {
font-size: medium;
padding: 3% 0% 0% 1%;
}

.item {
  margin-top: 2%;
}

p {
  font-style: oblique;
  font-size: small;
}

form {
  margin-top: 3%;
  margin-right: 25%;
}

input {
  width: 50%;
  margin-top: 1.2%;
  padding: 0.5%;
  font-size: medium;
  text-align: left;
  border: 1px solid rgb(187, 187, 187);
}
.header{
  margin-top: 3%;
  font-size: x-large;
  text-align: center;
}

.balance {
  margin-top: 4%;
  font-size: large;
  margin-left: 15%;
}

.income-expense{
  margin-left: 15%;
  margin-right: 25%;
  box-shadow: 1px 1px 7px 0px rgb(150, 150, 150);
  margin-top: 3%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
.sibling {
  display: inline-block;
  flex: 1;
  width: 100%;
  text-align: center;
  padding: 2%
}

.sibling:nth-child(even) {
  border-left: 1px solid rgb(239, 221, 221);
  border-radius: 1%;
}
.transactionList {
  margin-top: 5%;
  margin-left: 15%;
}


.transaction {
  margin-top: 3%;
  border: 1px solid rgb(148, 145, 145);
  border-radius: 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: 29%;  
  box-shadow: 0px 1px 3px 0px rgb(183, 183, 183);
  overflow: hidden;
  /* justify-content: space-evenly; */
}

.transaction div{
  margin-left: 0px 2px 0px 2px;
  padding: 1px 5% 1px 3%;
  text-align: right;
  align-self: stretch;
  width: 50%
}

.transaction div:nth-child(even){
text-align: left;
}

.transaction button {
  align-self: flex-start;
  padding: 0.85%;
  background-color: #b04720;
  color: aliceblue;

}

.transaction button:hover {
  background-color: #ff6932;
}

.add-transaction {
  margin-top: 5%;
  margin-left: 15%;
  text-align: left;
}

.item {
  margin-top: 15px;
  }

.s-btn{
  margin-top: 4%;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  font-size: large;
  padding: 10px;
  border-radius: 5px;
}

.s-btn:hover{
  padding: 11px;
  box-shadow: 1px 1px 1px 1px grey;
}