
name: Deploy react app on surge

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    
    - uses: actions/checkout@v2

    - name: Install Nodejs
      uses: actions/setup-node@v2-beta
      with:
        node-version: 12

    - name: Install Surge
      run: npm install -g surge

    - name: build react app
      run: npm run build
            cd ./build

    - name: deploy with surge      
      run: surge ./ expense-tracker-sza.sh --token ${{secrets.SURGE_TOKEN}}

      
      
