name: Deploy react app on surge

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
jobs:
  build:
    
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Install Nodejs
      uses: actions/setup-node@v2-beta ./
      with:
        node-version: 12
    - name: Install Surge
      run: npm install -g surge
    - name: Install required packages
      run: npm install
    - name: build react app
      run: npm run build
    - name: deploy with surge      
      run: surge ./build/ expense-tracker-sza.surge.sh --token ${{secrets.SURGE_TOKEN}}

      
      
